# Core numerical / audio
numpy==2.0.2
scipy==1.16.2
librosa==0.11.0
soundfile==0.13.1

# ML model + training
xgboost==3.1.1
scikit-learn==1.7.2
optuna==4.6.0
tqdm==4.67.1

# Visualization (confusion matrix / reports)
matplotlib==3.10.6
seaborn==0.13.2

# API service
fastapi==0.121.2
uvicorn==0.38.0
python-multipart==0.0.20

# AWS Lambda integration
boto3==1.42.93
